<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/ef72288fc5.js" crossorigin="anonymous"></script>
    <title>Covid-19 Pandemic</title>
</head>
<body>

        <h1 class="text-center text-white my-5">COVID-19 PANDEMIC</h1>
        
        <div id="app">
            <div class="container">

                <div class="row">
                    <div class="col-md-6 col-lg-4  mb-3">
                        <div class="card text-white bg-danger">
                            <div class="card-header text-center"><i class="fas fa-globe-americas mr-2"></i>Global</div>
                            <div class="card-body">
                                <p>Cases - {{ globalCases.toLocaleString('en') }}</p>
                                <p>Deaths - {{ globalDeaths.toLocaleString('en') }}</p>
                                <p>Today deaths - {{ globalTodayDeaths.toLocaleString('en') }}</p>
                                <p>Recovered - {{ globalRecovered.toLocaleString('en') }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3">
                        <div class="card text-white bg-danger">
                            <div class="card-header text-center"><i class="fas fa-flag mr-2"></i>Myanmar</div>
                            <div class="card-body">
                                <p>Cases - {{ myanmarTotalCases ? myanmarTotalCases.toLocaleString('en') : 0 }}</p>
                                <p>Deaths - {{ myanmarDeaths ? myanmarDeaths.toLocaleString('en') : 0 }}</p>
                                <p>Recovered - {{ myanmarRecovered ? myanmarRecovered.toLocaleString('en') : 0 }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3">  
                        <div class="card text-white bg-danger">
                            <div class="card-header text-center"><i class="fas fa-database mr-2"></i>Top countries</div>
                            <div class="card-body">
                                <p>Most deaths - {{ mostDeathCountry ? mostDeathCountry.country.toLocaleString('en') : ''}}({{ mostDeathCountry ? mostDeathCountry.deaths.toLocaleString('en') : '' }})</p>
                                <p>Most deaths today - {{ mostDeathToday ? mostDeathToday.country.toLocaleString('en') : ''}} ({{ mostDeathToday ? mostDeathToday.todayDeaths.toLocaleString('en') : '' }})</p>
                                <p>Most new cases today - {{ mostNewCases ? mostNewCases.country.toLocaleString('en') : ''}} ({{ mostNewCases ? mostNewCases.todayCases.toLocaleString('en') : '' }})</p>
                            </div>
                        </div>           
                    </div>
                    <div class="col-md-6 col-lg-4 mb-3" >
                        <div id="searchContainer">
                            <p class="text-white"><i class="fas fa-search mr-2"></i>Search by country name</p>
                            <input type="text" id="searchBox" v-model="searchValue">
                        </div>
                    </div>                   

                </div>

    

                <p v-if="data.length > 0" class="mt-3 text-white">{{ data.length - 2 }} countries and 2 international conveyances are infected.</p>
                

            

                <div v-if="data.length < 1" class="text-center my-3">
                    <div class="lds-ripple">
                        <div></div>
                        <div></div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">

                        <div v-if="data.length > 0" class="table-responsive">
                            <table id="covidTable" stylee="width: 100% !important;"  class="table table-dark table-bordered mb-5">
                                <thead>
                                    <tr class="bg-danger">
                                        <th>Rank</th>
                                        <th>Flag</th>
                                        <th>Country</th>
                                        <th class="text-center">Cases</th>
                                        <th class="text-center">Today Cases</th>
                                        <th class="text-center">Deaths</th>
                                        <th class="text-center">Today Deaths</th>
                                        <th class="text-center">Recovered</th>
                                        <!-- <th>Active</th> -->
                                        <!-- <th>Critical</th> -->
                                        <!-- <th>Cases Per One Million</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <template v-if="searchValue.length < 1">
                                        <tr v-for="(dt, index) in data">
                                            <td class="text-right">{{ index+1 }}</td>
                                            <td class="text-center"><img :src="dt.countryInfo.flag" class="flag"></td>
                                            <td>{{ dt.country }}</td>
                                            <td class="text-right">{{ dt.cases ?  dt.cases.toLocaleString('en') : 0 }}</td>
                                            <td class="text-right">{{ dt.todayCases ? dt.todayCases.toLocaleString('en') : 0 }}</td>
                                            <td class="text-right">{{ dt.deaths ? dt.deaths.toLocaleString('en') : 0 }}</td>
                                            <td class="text-right">{{ dt.todayDeaths ?  dt.todayDeaths.toLocaleString('en') : 0 }}</td>
                                            <td class="text-right">{{ dt.recovered ? dt.recovered.toLocaleString('en') : 0 }}</td>
                                            <!-- <td data-label="Active">{{ dt.active ? dt.active.toLocaleString('en') : 0 }}</td> -->
                                            <!-- <td data-label="Critical">{{ dt.critical ? dt.critical.toLocaleString('en') : 0 }}</td> -->
                                            <!-- <td data-label="Cases Per One Million">{{ dt.casesPerOneMillion ? dt.casesPerOneMillion.toLocaleString('en') : 0}}</td> -->
                                        </tr>
                                    </template>
                                    <template v-else>
                                        <tr v-if="searchResult" v-for="searchResult in searchResults">
                                            <td class="text-right">{{ searchResult.rank }}</td>
                                            <td class="text-center"><img :src="searchResult.countryInfo.flag" class="flag"></td>
                                            <td>{{ searchResult.country }}</td>
                                            <!-- <td><img :src="dt.countryInfo.flag" style="height: 20px; width: 20px;"></td> -->
                                            <td class="text-right">{{ searchResult.cases ?  searchResult.cases.toLocaleString('en') : 0 }}</td>
                                            <td class="text-right">{{ searchResult.todayCases ? searchResult.todayCases.toLocaleString('en') : 0 }}</td>
                                            <td class="text-right">{{ searchResult.deaths ? searchResult.deaths.toLocaleString('en') : 0 }}</td>
                                            <td class="text-right">{{ searchResult.todayDeaths ?  searchResult.todayDeaths.toLocaleString('en') : 0 }}</td>
                                            <td class="text-right">{{ searchResult.recovered ? searchResult.recovered.toLocaleString('en') : 0 }}</td>
                                            <!-- <td data-label="Active">{{ searchResult.active ? searchResult.active.toLocaleString('en') : 0 }}</td> -->
                                            <!-- <td data-label="Critical">{{ searchResult.critical ? searchResult.critical.toLocaleString('en') : 0 }}</td> -->
                                            <!-- <td data-label="Cases Per One Million">{{ searchResult.casesPerOneMillion ? searchResult.casesPerOneMillion.toLocaleString('en') : 0}}</td> -->
                                        </tr>
                                    </template>
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>






            </div>

        </div>
    <!-- </div> -->

   
    <script src="assets/js/app.js"></script>

</body>
</html>